<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative inline-block text-left w-1/2 left-[25%]">
  <div>
    <button
      type="button"
      (click)="toggleDropdownItemsVisibilityToggle()"
      class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      {{ selectedCountryLocal ?? "Worldwide" }}
    </button>
  </div>

  <!--
        Dropdown menu, show/hide based on menu state.
    
        Entering: "transition ease-out duration-100"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
  <div
    *ngIf="dropdownItemsVisibilityToggle"
    class="h-36 z-50 cursor-pointer overflow-y-scroll origin-top-right absolute right-0 mt-2 w-full left-0 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="py-1" role="none">
      <a
        (click)="selectCountry(null)"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        >Worldwide</a
      >
    </div>

    <div *ngFor="let item of dropdownList" class="py-1" role="none">
      <a
        (click)="selectCountry(item)"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        >{{ item }}</a
      >
    </div>
  </div>
</div>
