<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative inline-block text-left w-1/2 left-[25%]">
  <div>
    <button
      type="button"
      (click)="toggleDropdownItemsVisibilityToggle()"
      class="inline-flex text-white justify-center w-full rounded-md border bg-backgroundColor border-backgroundColor shadow-sm px-4 py-2 bg-blue hover:bg-backgroundColor-400 focus:outline-none focus:ring-blue-300 text-sm font-medium focus:outline-none active:scale-90 transition-all duration-75 ease-out"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      {{ selectedCountryLocal ?? "Worldwide" }}
    </button>
  </div>

  <!--
        Dropdown menu, show/hide based on menu state.
    
        Entering: "transition ease-out duration-100"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
  <div
    *ngIf="dropdownItemsVisibilityToggle"
    class="h-36 z-50 text-white cursor-pointer overflow-y-scroll origin-top-right absolute right-0 mt-2 w-full left-0 shadow-lg bg-gray-700 ring-1 ring-gray rounded ring-opacity-5 divide-y divide-gray-100 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="py-1 bg-gray" role="none">
      <a
        (click)="selectCountry(null)"
        class="block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        >Worldwide</a
      >
    </div>

    <div *ngFor="let item of dropdownList" class="py-1 bg-gray" role="none">
      <a
        (click)="selectCountry(item)"
        class="block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        >{{ item }}</a
      >
    </div>
  </div>
</div>
